<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="9747MrRNVZ.PortableAnymapViewer" Publisher="CN=43CFD336-4D79-46F1-96F8-AC7E816F76CE" Version="1.1.3.0" />
  <mp:PhoneIdentity PhoneProductId="76ae3a02-337c-4a52-9f8c-27964c753241" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Portable Anymap Viewer</DisplayName>
    <PublisherDisplayName>Nikolay Rudakov</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Portable_Anymap_Viewer.App">
      <uap:VisualElements DisplayName="Portable Anymap Viewer" Square150x150Logo="Assets\Logo-TileMedium.png" Square44x44Logo="Assets\Logo-AppList.png" Description="Open and edit Portale Anymap images (Netpbm format) such as *.pbm (black &amp; white), *.pgm (gray scale), *.ppm (RGB)." BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\Logo-NoMargins.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Logo-TileWide.png" Square71x71Logo="Assets\Logo-TileSmall.png" ShortName="Portable Anymap" Square310x310Logo="Assets\Logo-TileLarge.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="transparent" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ppm">
            <uap:DisplayName>Portable Pixmap</uap:DisplayName>
            <uap:Logo>Assets\File_ext_P.png</uap:Logo>
            <uap:InfoTip>RGB Anymap</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/x-portable-pixmap">.ppm</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="pgm">
            <uap:DisplayName>Portable Graymap</uap:DisplayName>
            <uap:Logo>Assets\File_ext_G.png</uap:Logo>
            <uap:InfoTip>Grayscale Anymap</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/x-portable-graymap">.pgm</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="pbm">
            <uap:DisplayName>Portable Bitmap</uap:DisplayName>
            <uap:Logo>Assets\File_ext_B.png</uap:Logo>
            <uap:InfoTip>Black &amp; White Anymap</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/x-portable-bitmap">.pbm</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.png</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DataFormat>Bitmap</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="picturesLibrary" />
  </Capabilities>
</Package>